body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-size: 25px;
}

.container{
    width: 370px;
    height: 370px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.boxes {
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    display: grid;
    gap: 1rem;
    grid-template-areas:
        "A B C D"
        "E F G W"
        "H I J X"
        "K L M X"
        "N O P X"
    ;
}

.box {
    background-color: #090909;
    color: #fff;
    height: 115px;
    font-size: 33px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 25px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(188, 188, 188);
}

.btn:active{
    transform: scale(.95);
}

.esittir{
    display: flex;
    justify-content:center;
    align-items: center;
    border: 1px solid black;
    background-color: steelblue;
    color: #fff;
}

.esittir:active{
    transform: scale(.985);
}

.islem{
    color:steelblue;
}

.danger{
    background-color: rgb(255, 94, 94);
    color: #fff;
}

@media (max-width:500px){
    .container{
        width: 100%;
        margin: 1rem;
    }
    .boxes{
        gap: .5rem;
    }
}